@mixin pdp-header() {
  @include themed() {
    background-color: fetch-theme-color($header-bg-color);
    color: fetch-theme-color($header-text-color);
  }
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  & a {
    text-decoration: none;
  }
}

.#{$prefix}header {
  @include pdp-header();

  &--fixed-top {
    @include pdp-header();
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    &::after {
      content: '';
      display: block;
    }
  }
  &__title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
  }
  &__logo {
    cursor: pointer;
    width: 60px;
  }
  &--underline {
    @include themed() {
      border-bottom: 2px solid fetch-theme-color($text);
    }
  }
}
