.#{$prefix}list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  & li {
    padding-right: 1em;
    margin-left: 1em;
  }
  &--vertical {
    @extend .#{$prefix}list;
    flex-direction: column;
  }
}

.#{$prefix}list__link {
  text-decoration: none;
}
