.width {
  @for $i from 1 through 10 {
    &--#{$i * 10} {
      width: percentage(($i * 10)/100);
    }
  }
  &--25 {
    width: 25%;
  }
  &--75 {
    width: 75%;
  }
  &--85 {
    width: 85%;
  }
  &--15 {
    width: 15%;
  }
}
