.header-item {
  grid-area: header;
}
.menu-item {
  grid-area: menu;
}
.main-item {
  grid-area: main;
}
.right-item {
  grid-area: right;
}
.footer-item {
  grid-area: footer;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.padding {
  width: 10%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img.PropertiesDoneProperImage {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 50%;
  cursor: pointer;
}

button {
  border-width: 0;
  margin: 10px;
  font-size: large;
  font-family: 'Cinzel', serif;
  background-color: rgba(255, 255, 255, 0);
}

button.selected {
  color: #848484 !important;
}

.navBarContainer {
}

.appBarContainer {
  padding: 5px;
}

.MuiGrid-container {
  align-items: center;
  justify-content: center;
}

button:hover {
  color: #848484;
  cursor: pointer;
}

.page {
  width: 100%;
  div.pageItem {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    hr {
      margin-top: 5% !important;
      margin-bottom: 5% !important;
    }
  }
}

.homePageContainer {
  height: 100%;
}

.slide1-text {
  width: 100%;
  position: absolute;
}

.slide2-text {
  p {
    position: absolute;
    padding: 10px;
    font-size: 2.5vw;
    top: 60%;
    background-color: white;
    right: 0px;
    opacity: 0.65;
  }
}

.slide3-text {
  position: absolute;
  padding: 10px;
  font-size: 2.5vw;
  top: 60%;
  background-color: white;
  right: 0px;
  opacity: 0.65;
}

.slide4-text {
  .header {
    position: absolute;
    padding: 10px;
    font-size: 2.5vw;
    top: 10%;
    background-color: white;
    left: 0px;
    opacity: 0.65;
    padding-left: 10%;
  }
  .info {
    position: absolute;
    padding: 10px;
    font-size: 2vw;
    top: 60%;
    background-color: white;
    right: 0px;
    opacity: 0.65;
  }
}

.servicesImageContainer {
  position: relative;
  p {
    position: absolute;
    padding: 10px;
    font-size: 2.5vw;
    background-color: rgba(61, 60, 69, 0.65);
    left: 10%;
    color: #dbd3c8;
    width: 33%;
    margin-top: 0px;
    text-align: center;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #545151;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.pageItem {
  margin: 5px;
  padding: 5px;
  img {
    width: 100%;
  }
  div {
    padding: 5px;
  }
}

.services {
  display: grid;
  grid-template-areas:
    'r1-c1 r1-c1 r1-c2'
    'r2 r2 r2';
  grid-gap: 5px;
  img {
    padding: 0px;
    margin: 0px;
    grid-column: 1 / span 2;
  }
  .r2 {
    grid-column: 1 / span 3;
  }
  .r2,
  .r3 {
    font-size: 1.5vw;
  }
}
.servicesItem {
  display: block;
  padding: 0px !important;
  img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-color: #a5a2a2;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
  }
  div {
    padding: 10px;
  }
}

.servicesGridContainer {
  display: grid;
  grid-template-areas: 'img div';
}

.aboutPageGrid {
  display: grid;
  grid-template-areas: 'div div';
  div {
    display: block;
  }
}

.slide {
  padding: 5px;
  background: none !important;
}

li {
  text-align: left;
}

.servicesList {
  text-align: center;
  div {
    height: 10vh;
    top: 50%;
    transform: translateY(-50%);
  }
}

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  font-size: 1.5vw;
}

.grid__item {
  position: relative;
  width: 100%;
  border: 2px solid #ccc;

  &:nth-child(1) {
    grid-column: 1 / 2;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  &:nth-child(2) {
    grid-column: 2 / 3;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  &:nth-child(3) {
    grid-column: 3 / 4;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(4) {
    grid-column: 1 / 2;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  &:nth-child(5) {
    grid-column: 2 / 3;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  &:nth-child(6) {
    grid-column: 3 / 4;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:before {
    content: '';
    height: 0;
    display: inline-block;
    padding-top: 100%;
    width: 1px;
    position: relative;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    justify-items: start;
    align-items: end;
  }
  .content-lr {
    place-items: end end;
    text-align: right;
  }
  .content-inside {
    padding: 2rem;
  }
}

.centered-line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: black;
}
