.#{$prefix}breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  counter-reset: flag;
  position: absolute;
  top: 4.5em;
  z-index: 1;
  background-color: #0b0a0c;
  width: 100%;
  a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    &:first-child {
      padding-left: 72px;
      border-radius: 5px 0 0 5px;
      &:before {
        left: 14px;
      }
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 20px;
      &:after {
        content: none;
      }
    }
    &:hover {
      background: #333;
      background: linear-gradient(#333, #000);
      &:after {
        background: #333;
        background: linear-gradient(135deg, #333, #000);
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -18px;
      width: 36px;
      height: 36px;
      transform: scale(0.707) rotate(45deg);
      z-index: 1;
      background: #666;
      background: linear-gradient(135deg, #666, #333);
      box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4),
        3px -3px 0 2px rgba(255, 255, 255, 0.1);
      border-radius: 0 5px 0 50px;
    }
  }
  a.active {
    background: #333;
    background: linear-gradient(#333, #000);
    &:after {
      background: #333;
      background: linear-gradient(135deg, #333, #000);
    }
  }
}
