$ci-size: 21px;
$ci-valign: .12*$ci-size;
$ci-text-margin: 7px+$ci-size;

.#{$prefix}checkbox--label {
  display: inline-block;  // maintain integrity
  overflow: hidden;       //
  user-select: none;
  padding: 3px;  // enlargen clickable area and make room for focus styling
}
  
.#{$prefix}checkbox--input[type=radio],
.#{$prefix}checkbox--input[type=checkbox] {
    .#{$prefix}checkbox--label > & {
    position: absolute;
    left: -100%;  // hide actual input element

    + .#{$prefix}checkbox--span {
      float: left;  // collapse whitespace
      padding-top: $ci-valign;  // room for vertical alignment
      cursor: pointer;
      
      // visible input element
      &:before {
        content: '';
        float: left;  // collapse whitespace
        width: $ci-size;
        height: $ci-size;
        margin-top: -1*$ci-valign;  // vertical align with text
        
        border: .1*$ci-size solid #777;
        border-radius: .2*$ci-size;
        background-color: white;
      }
      
      // add space before label text
      &:not(:empty) {
        padding-left: $ci-text-margin;
          
        &:before {
          margin-left: -1*$ci-text-margin;
        }
      }
    }

    // disabled input
    &:disabled + .#{$prefix}checkbox--span {
      opacity: .35;
      cursor: default;
      pointer-events: none;
      outline: none;
    }
  }
   
  // focus styling
  .#{$prefix}checkbox--label:active > &:not(:disabled),
  .#{$prefix}checkbox--label > &:focus {
    + .#{$prefix}checkbox--span {
      &:before {
        box-shadow: 0 0 3px lime;
      }
    }
  }
}

.#{$prefix}checkbox--input[type=radio] {
    .#{$prefix}checkbox--label > & {
    + .#{$prefix}checkbox--span {
      &:before {
        border-radius: 50%;
      }
    }
    
    &:checked + .#{$prefix}checkbox--span {
      &:before {
        background-color: #777;
        box-shadow: inset 0 0 0 .2*$ci-size white;
      }
    }
  }
   
  // focus styling
  .#{$prefix}checkbox--label:active > &:not(:disabled),
  .#{$prefix}checkbox--label > &:focus {
    &:checked + .#{$prefix}checkbox--span {
      &:before {
        box-shadow: 0 0 3px lime, inset 0 0 0 .2*$ci-size white;
      }
    }
  }
}

.#{$prefix}checkbox--input[type=checkbox] {
    .#{$prefix}checkbox--label > & {
    &:checked + .#{$prefix}checkbox--span {
      &:before {
        // checkmark from FontAwesome with #777 fill color
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQoJPHBhdGggZD0iTTE0LjkyIDUuMDU0cTAgMC4zNTctMC4yNSAwLjYwN2wtNy42NzkgNy42NzlxLTAuMjUgMC4yNS0wLjYwNyAwLjI1dC0wLjYwNy0wLjI1bC00LjQ0Ni00LjQ0NnEtMC4yNS0wLjI1LTAuMjUtMC42MDd0MC4yNS0wLjYwN2wxLjIxNC0xLjIxNHEwLjI1LTAuMjUgMC42MDctMC4yNXQwLjYwNyAwLjI1bDIuNjI1IDIuNjM0IDUuODU3LTUuODY2cTAuMjUtMC4yNSAwLjYwNy0wLjI1dDAuNjA3IDAuMjVsMS4yMTQgMS4yMTRxMC4yNSAwLjI1IDAuMjUgMC42MDd6IiBmaWxsPSIjNzc3IiAvPg0KPC9zdmc+DQo=) center center no-repeat white;
      }
    }
  }
}


