@mixin drawer() {
  position: absolute;
  transition: $transition-speed;
  z-index: 1;
  overflow-x: hidden;

  @include themed() {
    color: fetch-theme-color($drawer-text) !important;
    background-color: fetch-theme-color($drawer-bg-color) !important;
  }
}

.#{$prefix}drawer {
  @include drawer();
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 4em;

  &:first-child {
    position: relative;
  }

  &__close-icon {
    position: absolute;
    margin-left: calc(100% - 2em);
    cursor: pointer;
  }

  &--permanent {
    @include drawer();
    width: 250px;
    height: inherit;
    overflow-y: auto;
    display: block;
    float: left;
    position: relative;
    padding: 1em;
    z-index: 0;
  }

  &--right {
    @include drawer();
    height: 100%;
    width: 0;
    top: 0;
    right: 0 !important;
    left: auto;
    padding-top: 4em;
    &.#{$prefix}drawer--permanent {
      width: 250px;
      height: inherit;
      overflow-y: auto;
      display: block;
      float: right;
      position: relative;
      padding: 1em;
      z-index: 0;
    }
  }
  &--top {
    @include drawer();
    padding-left: 4em;
    height: 0px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    &::before {
      content: '';
      padding-top: 1em;
    }
    &::after {
      content: '';
      padding-bottom: 1em;
    }
  }
  &--bottom {
    @include drawer();
    padding-left: 4em;
    height: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    transition: 0.5s;
    &::before {
      content: '';
      padding-top: 1em;
    }
    &::after {
      content: '';
      padding-bottom: 1em;
    }
  }
}
