.#{$prefix}inputfield--form {
    margin: 0px;
    padding: 0px;
}

.#{$prefix}inputfield {
    position: relative;
    padding: 0;
    margin: 5px;
    border: none;
    overflow: visible;

    input {
        box-sizing: border-box;
        width: 50%;
        padding: 14px 10px 4px;
        border-radius: 10;
        box-shadow: none;
        @include themed() {
            border: 1px solid fetch-theme-color($inputfield-primary-color);
          }
        font-size: 100%;
        outline: none;
        cursor: text;
        border-radius: 4px;
        position: relative;

        &::-webkit-input-placeholder {
            -webkit-transition: color 300ms ease;
            transition: color 300ms ease;
            font-size: 30xp;
        }

        &:not(:focus) {
            &::-webkit-input-placeholder {
                color: transparent;
            }
        }

        &:focus {
            ~ {
                hr {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    visibility: visible;
                }

                label {
                    -webkit-transform: scale(0.6);
                    transform: scale(0.6);
                    @include themed() {
                        color: fetch-theme-color($text-dark);
                      }
                    -webkit-transform: scale(0.6);
                    transform: scale(0.6);
                    @include themed() {
                        color: fetch-theme-color($text-dark);
                      }
                }
            }

            outline: none !important;
            @include themed() {
                color: fetch-theme-color($text-dark);
              }
        }

        &:valid {
            ~ {
                label {
                    -webkit-transform: scale(0.6);
                    transform: scale(0.6);
                    @include themed() {
                        color: fetch-theme-color($text-dark);
                      }
                    -webkit-transform: scale(0.6);
                    transform: scale(0.6);
                    @include themed() {
                        color: fetch-theme-color($text-dark);
                      }
                }
            }
        }
    }

    hr {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 50%;
        font-size: 1px;
        will-change: transform, visibility;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: hidden;
        z-index: 10;
    }

    label {
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 120%;
        color: #888C86;
        -webkit-transform-origin: 0 -100%;
        transform-origin: 0 -100%;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        pointer-events: none;
    }
}