/* Dashed border */
.#{$prefix}separator--dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
.#{$prefix}separator--dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
.#{$prefix}separator--solid {
  border-top: 3px solid #bbb;
}

/* Solid border */
.#{$prefix}separator {
  border-top: 3px solid #bbb;
}

/* Rounded border */
.#{$prefix}separator--rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
