.#{$prefix}side-nav {
  top: 15%;
  position: fixed;
  transition: 0.5s;
  overflow-y: auto;
  max-height: calc(100vh - 15%);
  & a {
    @include themed() {
      color: fetch-theme-color($text) !important;
    }
  }
}

.#{$prefix}side-nav--accordion {
  top: 15%;
  position: fixed;
  transition: 0.5s;
  overflow-y: auto;
  max-height: calc(100vh - 15%);
  padding: 0;
  width: 20vw;
  > * {
    @include themed() {
      color: fetch-theme-color($text);
      background: $bg-transparent;
    }
  }
  & .#{$prefix}accordion--section {
    // @include themed() {
    //   color: fetch-theme-color($text);
    //   background: $bg-transparent;
    // }
    @extend .text-primary, .hover;
    @extend .bg-transparent;
  }
}
