.#{$prefix}tab--input {
  display: none;
} /* hide radio buttons */
.#{$prefix}tab--input + .#{$prefix}tab--label {
  display: inline-block;
} /* show labels in line */
.#{$prefix}tab--input ~ .#{$prefix}tab {
  display: none;
} /* hide contents */
/* show contents only for selected tab */
#tab1:checked ~ .#{$prefix}tab.#{$prefix}tab--content1,
#tab2:checked ~ .#{$prefix}tab.#{$prefix}tab--content2,
#tab3:checked ~ .#{$prefix}tab.#{$prefix}tab--content3,
#tab4:checked ~ .#{$prefix}tab.#{$prefix}tab--content4,
#tab5:checked ~ .#{$prefix}tab.#{$prefix}tab--content5 {
  display: block;
}

.#{$prefix}tab--input + .#{$prefix}tab--label {
  /* box with rounded corner */
  border: 1px solid #999;
  background: #eee;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  // color: #999;
  @extend .text-primary, .hover;
  position: relative;
  top: 1px;
  cursor: pointer;
}
.#{$prefix}tab--input:checked + .#{$prefix}tab--label {
  /* white background for selected tab */
  background: #fff;
  border-bottom: 1px solid transparent;
}
.#{$prefix}tab--input:checked ~ .#{$prefix}tab {
  /* grey line between tab and contents */
  border-top: 1px solid #999;
  padding: 12px;
}
