.#{$prefix}tooltip {
  position: relative;
  display: inline-block;

  &:hover &__text {
    visibility: visible;
    opacity: 1;
  }
  &:hover &__text--left {
    visibility: visible;
    opacity: 1;
  }

  & &__text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  & &__text--left {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    top: -5px;
    right: 105%;
  }
}
