.#{$prefix}grid-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: none;
  //   display: flex;
  padding-left: $layout-gutter;
  padding-right: $layout-gutter;
  width: 100%;

  @for $i from 1 through 12 {
    &-#{$i} {
      width: calc((100% / 12) * #{$i});
    }
  }

  &--auto {
    flex: 1 1 auto;
    width: auto;
  }
  &--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  &--end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &--horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--left {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &--vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--top {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  &--bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@include m-up {
  .#{$layout__item} {
    &.#{$layout__item}--auto {
      flex: 1 1 auto;
      width: auto;
    }
  }

  // this itm is always 100% so this is listed for documentation only
  .#{$layout__item}.#{$layout__item}--100 {
    width: 100%;
  }

  .#{$layout__item}.#{$layout__item}--75 {
    width: 75%;
  }

  .#{$layout__item}.#{$layout__item}--50 {
    width: 50%;
  }

  .#{$layout__item}.#{$layout__item}--33 {
    width: 33.333%;
  }

  .#{$layout__item}.#{$layout__item}--25 {
    width: 25%;
  }
}
