.#{$prefix}image-placeholder {
  width: 50%;
  height: 20vw;
  margin: 1em;
  position: relative;
  display: flex;
  justify-items: center;
  @include themed() {
    color: fetch-theme-color($text);
  }
}

.#{$prefix}image-placeholder:after {
  @include themed() {
    color: fetch-theme-color($text);
  }
  border-width: 1px;
  border-style: solid;
  content: '';
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.#{$prefix}image-placeholder:before {
  @include themed() {
    color: fetch-theme-color($text);
  }
  content: 'Insert Image Here';
  position: absolute;
  top: calc(50% - 1rem);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50%;
}
